@media only screen and (min-width: 960px) {

    .phone {
        display: none;
    }

    body {
        background-color: black;
    }

    header h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        font-size: 3em;
        color: white;
        text-align: center;
    }

    .download {
        color: aquamarine;
        font-size: 1em;
        text-align: center;
        text-decoration: underline;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    section h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 300;
        font-size: 2.6em;
        color: white;
        text-align: center;
    }

    .section-h4 {
        color: grey;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2em;
        text-align: center;
    }

    footer {
        color: grey;
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2em;
    }
}

@media screen and (max-width: 959px) {

    body {
        background-color: black;
    }

    .desktop {
        display: none;
    }

    .phone-h2 {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}
